.question-title tr th{
    padding: 0 !important;
}

.question-title tr th a{
    display: block !important;
    padding: 0.75rem !important;
}

.question-title tr th a:hover{
    background-color: #eeeeee !important;
}

.answer-form-border{
    border-top-style: dotted !important;
    border-top-color: gray !important;
}

